* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background: transparent;
}

a:active,
a:hover {
  outline: none;
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

ul {
  list-style: none;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
  max-width: 100%;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font: 1em monospace, monospace;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
}

input,
button,
select,
textarea {
  font: inherit/inherit inherit;
}

a {
  color: #337ab7;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  vertical-align: middle;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-rounded {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.img-thumbnail {
  background: #fff;
  padding: 4px;
  line-height: 1.42857;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.img-circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

[role="button"] {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h1 small,
h1 .small,
h2 small,
h2 .small,
h3 small,
h3 .small,
h4 small,
h4 .small,
h5 small,
h5 .small,
h6 small,
h6 .small,
.h1 small,
.h1 .small,
.h2 small,
.h2 .small,
.h3 small,
.h3 .small,
.h4 small,
.h4 .small,
.h5 small,
.h5 .small,
.h6 small,
.h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #777;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h1 small,
h1 .small,
.h1 small,
.h1 .small,
h2 small,
h2 .small,
.h2 small,
.h2 .small,
h3 small,
h3 .small,
.h3 small,
.h3 .small {
  font-size: 65%;
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h4 small,
h4 .small,
.h4 small,
.h4 .small,
h5 small,
h5 .small,
.h5 small,
.h5 .small,
h6 small,
h6 .small,
.h6 small,
.h6 .small {
  font-size: 75%;
}

h1,
.h1 {
  font-size: 36px;
}

h2,
.h2 {
  font-size: 30px;
}

h3,
.h3 {
  font-size: 24px;
}

h4,
.h4 {
  font-size: 18px;
}

h5,
.h5 {
  font-size: 14px;
}

h6,
.h6 {
  font-size: 12px;
}

p {
  margin: 0 0 10px;
}

.lead {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
}

@media (min-width: 768px) {
  .lead {
    font-size: 21px;
  }
}

small,
.small {
  font-size: 85%;
}

mark,
.mark {
  background: #fcf8e3;
  padding: .2em;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-nowrap {
  white-space: nowrap;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-uppercase,
.initialism {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-muted {
  color: #777;
}

.text-primary {
  color: #337ab7;
}

a.text-primary:hover,
a.text-primary:focus {
  color: #286090;
}

.text-success {
  color: #3c763d;
}

a.text-success:hover,
a.text-success:focus {
  color: #2b542c;
}

.text-info {
  color: #31708f;
}

a.text-info:hover,
a.text-info:focus {
  color: #245269;
}

.text-warning {
  color: #8a6d3b;
}

a.text-warning:hover,
a.text-warning:focus {
  color: #66512c;
}

.text-danger {
  color: #a94442;
}

a.text-danger:hover,
a.text-danger:focus {
  color: #843534;
}

.bg-primary {
  color: #fff;
}

.bg-primary {
  background: #337ab7;
}

a.bg-primary:hover,
a.bg-primary:focus {
  background: #286090;
}

.bg-success {
  background: #dff0d8;
}

a.bg-success:hover,
a.bg-success:focus {
  background: #c1e2b3;
}

.bg-info {
  background: #d9edf7;
}

a.bg-info:hover,
a.bg-info:focus {
  background: #afd9ee;
}

.bg-warning {
  background: #fcf8e3;
}

a.bg-warning:hover,
a.bg-warning:focus {
  background: #f7ecb5;
}

.bg-danger {
  background: #f2dede;
}

a.bg-danger:hover,
a.bg-danger:focus {
  background: #e4b9b9;
}

.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
}

ul ul,
ul ol,
ol ul,
ol ol {
  margin-bottom: 0;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
}

.list-inline>li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

dl {
  margin-top: 0;
  margin-bottom: 20px;
}

dt,
dd {
  line-height: 1.42857;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

.dl-horizontal dd:before,
.dl-horizontal dd:after {
  content: " ";
  display: table;
}

.dl-horizontal dd:after {
  clear: both;
}

@media (min-width: 768px) {
  .dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .dl-horizontal dd {
    margin-left: 180px;
  }
}

abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #777;
}

.initialism {
  font-size: 90%;
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eee;
}

blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
  margin-bottom: 0;
}

blockquote footer,
blockquote small,
blockquote .small {
  display: block;
  font-size: 80%;
  line-height: 1.42857;
  color: #777;
}

blockquote footer:before,
blockquote small:before,
blockquote .small:before {
  content: '\2014 \00A0';
}

.blockquote-reverse,
blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eee;
  border-left: 0;
  text-align: right;
}

.blockquote-reverse footer:before,
.blockquote-reverse small:before,
.blockquote-reverse .small:before,
blockquote.pull-right footer:before,
blockquote.pull-right small:before,
blockquote.pull-right .small:before {
  content: '';
}

.blockquote-reverse footer:after,
.blockquote-reverse small:after,
.blockquote-reverse .small:after,
blockquote.pull-right footer:after,
blockquote.pull-right small:after,
blockquote.pull-right .small:after {
  content: '\00A0 \2014';
}

address {
  margin-bottom: 20px;
  font-style: normal;
  line-height: 1.42857;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container:before,
.container:after {
  content: " ";
  display: table;
}

.container:after {
  clear: both;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-fluid:before,
.container-fluid:after {
  content: " ";
  display: table;
}

.container-fluid:after {
  clear: both;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.row:before,
.row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  float: left;
}

.col-xs-1 {
  width: 8.33333%;
}

.col-xs-2 {
  width: 16.66667%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-4 {
  width: 33.33333%;
}

.col-xs-5 {
  width: 41.66667%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-7 {
  width: 58.33333%;
}

.col-xs-8 {
  width: 66.66667%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-10 {
  width: 83.33333%;
}

.col-xs-11 {
  width: 91.66667%;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-pull-0 {
  right: auto;
}

.col-xs-pull-1 {
  right: 8.33333%;
}

.col-xs-pull-2 {
  right: 16.66667%;
}

.col-xs-pull-3 {
  right: 25%;
}

.col-xs-pull-4 {
  right: 33.33333%;
}

.col-xs-pull-5 {
  right: 41.66667%;
}

.col-xs-pull-6 {
  right: 50%;
}

.col-xs-pull-7 {
  right: 58.33333%;
}

.col-xs-pull-8 {
  right: 66.66667%;
}

.col-xs-pull-9 {
  right: 75%;
}

.col-xs-pull-10 {
  right: 83.33333%;
}

.col-xs-pull-11 {
  right: 91.66667%;
}

.col-xs-pull-12 {
  right: 100%;
}

.col-xs-push-0 {
  left: auto;
}

.col-xs-push-1 {
  left: 8.33333%;
}

.col-xs-push-2 {
  left: 16.66667%;
}

.col-xs-push-3 {
  left: 25%;
}

.col-xs-push-4 {
  left: 33.33333%;
}

.col-xs-push-5 {
  left: 41.66667%;
}

.col-xs-push-6 {
  left: 50%;
}

.col-xs-push-7 {
  left: 58.33333%;
}

.col-xs-push-8 {
  left: 66.66667%;
}

.col-xs-push-9 {
  left: 75%;
}

.col-xs-push-10 {
  left: 83.33333%;
}

.col-xs-push-11 {
  left: 91.66667%;
}

.col-xs-push-12 {
  left: 100%;
}

.col-xs-offset-0 {
  margin-left: 0%;
}

.col-xs-offset-1 {
  margin-left: 8.33333%;
}

.col-xs-offset-2 {
  margin-left: 16.66667%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-4 {
  margin-left: 33.33333%;
}

.col-xs-offset-5 {
  margin-left: 41.66667%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-7 {
  margin-left: 58.33333%;
}

.col-xs-offset-8 {
  margin-left: 66.66667%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-10 {
  margin-left: 83.33333%;
}

.col-xs-offset-11 {
  margin-left: 91.66667%;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

@media (min-width: 768px) {
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    float: left;
  }

  .col-sm-1 {
    width: 8.33333%;
  }

  .col-sm-2 {
    width: 16.66667%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-4 {
    width: 33.33333%;
  }

  .col-sm-5 {
    width: 41.66667%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-7 {
    width: 58.33333%;
  }

  .col-sm-8 {
    width: 66.66667%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-10 {
    width: 83.33333%;
  }

  .col-sm-11 {
    width: 91.66667%;
  }

  .col-sm-12 {
    width: 100%;
  }

  .col-sm-pull-0 {
    right: auto;
  }

  .col-sm-pull-1 {
    right: 8.33333%;
  }

  .col-sm-pull-2 {
    right: 16.66667%;
  }

  .col-sm-pull-3 {
    right: 25%;
  }

  .col-sm-pull-4 {
    right: 33.33333%;
  }

  .col-sm-pull-5 {
    right: 41.66667%;
  }

  .col-sm-pull-6 {
    right: 50%;
  }

  .col-sm-pull-7 {
    right: 58.33333%;
  }

  .col-sm-pull-8 {
    right: 66.66667%;
  }

  .col-sm-pull-9 {
    right: 75%;
  }

  .col-sm-pull-10 {
    right: 83.33333%;
  }

  .col-sm-pull-11 {
    right: 91.66667%;
  }

  .col-sm-pull-12 {
    right: 100%;
  }

  .col-sm-push-0 {
    left: auto;
  }

  .col-sm-push-1 {
    left: 8.33333%;
  }

  .col-sm-push-2 {
    left: 16.66667%;
  }

  .col-sm-push-3 {
    left: 25%;
  }

  .col-sm-push-4 {
    left: 33.33333%;
  }

  .col-sm-push-5 {
    left: 41.66667%;
  }

  .col-sm-push-6 {
    left: 50%;
  }

  .col-sm-push-7 {
    left: 58.33333%;
  }

  .col-sm-push-8 {
    left: 66.66667%;
  }

  .col-sm-push-9 {
    left: 75%;
  }

  .col-sm-push-10 {
    left: 83.33333%;
  }

  .col-sm-push-11 {
    left: 91.66667%;
  }

  .col-sm-push-12 {
    left: 100%;
  }

  .col-sm-offset-0 {
    margin-left: 0%;
  }

  .col-sm-offset-1 {
    margin-left: 8.33333%;
  }

  .col-sm-offset-2 {
    margin-left: 16.66667%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-offset-4 {
    margin-left: 33.33333%;
  }

  .col-sm-offset-5 {
    margin-left: 41.66667%;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-offset-7 {
    margin-left: 58.33333%;
  }

  .col-sm-offset-8 {
    margin-left: 66.66667%;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-offset-10 {
    margin-left: 83.33333%;
  }

  .col-sm-offset-11 {
    margin-left: 91.66667%;
  }

  .col-sm-offset-12 {
    margin-left: 100%;
  }
}

@media (min-width: 992px) {
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    float: left;
  }

  .col-md-1 {
    width: 8.33333%;
  }

  .col-md-2 {
    width: 16.66667%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.33333%;
  }

  .col-md-5 {
    width: 41.66667%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.33333%;
  }

  .col-md-8 {
    width: 66.66667%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.33333%;
  }

  .col-md-11 {
    width: 91.66667%;
  }

  .col-md-12 {
    width: 100%;
  }

  .col-md-pull-0 {
    right: auto;
  }

  .col-md-pull-1 {
    right: 8.33333%;
  }

  .col-md-pull-2 {
    right: 16.66667%;
  }

  .col-md-pull-3 {
    right: 25%;
  }

  .col-md-pull-4 {
    right: 33.33333%;
  }

  .col-md-pull-5 {
    right: 41.66667%;
  }

  .col-md-pull-6 {
    right: 50%;
  }

  .col-md-pull-7 {
    right: 58.33333%;
  }

  .col-md-pull-8 {
    right: 66.66667%;
  }

  .col-md-pull-9 {
    right: 75%;
  }

  .col-md-pull-10 {
    right: 83.33333%;
  }

  .col-md-pull-11 {
    right: 91.66667%;
  }

  .col-md-pull-12 {
    right: 100%;
  }

  .col-md-push-0 {
    left: auto;
  }

  .col-md-push-1 {
    left: 8.33333%;
  }

  .col-md-push-2 {
    left: 16.66667%;
  }

  .col-md-push-3 {
    left: 25%;
  }

  .col-md-push-4 {
    left: 33.33333%;
  }

  .col-md-push-5 {
    left: 41.66667%;
  }

  .col-md-push-6 {
    left: 50%;
  }

  .col-md-push-7 {
    left: 58.33333%;
  }

  .col-md-push-8 {
    left: 66.66667%;
  }

  .col-md-push-9 {
    left: 75%;
  }

  .col-md-push-10 {
    left: 83.33333%;
  }

  .col-md-push-11 {
    left: 91.66667%;
  }

  .col-md-push-12 {
    left: 100%;
  }

  .col-md-offset-0 {
    margin-left: 0%;
  }

  .col-md-offset-1 {
    margin-left: 8.33333%;
  }

  .col-md-offset-2 {
    margin-left: 16.66667%;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-offset-4 {
    margin-left: 33.33333%;
  }

  .col-md-offset-5 {
    margin-left: 41.66667%;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-offset-7 {
    margin-left: 58.33333%;
  }

  .col-md-offset-8 {
    margin-left: 66.66667%;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-offset-10 {
    margin-left: 83.33333%;
  }

  .col-md-offset-11 {
    margin-left: 91.66667%;
  }

  .col-md-offset-12 {
    margin-left: 100%;
  }
}

@media (min-width: 1200px) {
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    float: left;
  }

  .col-lg-1 {
    width: 8.33333%;
  }

  .col-lg-2 {
    width: 16.66667%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33.33333%;
  }

  .col-lg-5 {
    width: 41.66667%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.33333%;
  }

  .col-lg-8 {
    width: 66.66667%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-10 {
    width: 83.33333%;
  }

  .col-lg-11 {
    width: 91.66667%;
  }

  .col-lg-12 {
    width: 100%;
  }

  .col-lg-pull-0 {
    right: auto;
  }

  .col-lg-pull-1 {
    right: 8.33333%;
  }

  .col-lg-pull-2 {
    right: 16.66667%;
  }

  .col-lg-pull-3 {
    right: 25%;
  }

  .col-lg-pull-4 {
    right: 33.33333%;
  }

  .col-lg-pull-5 {
    right: 41.66667%;
  }

  .col-lg-pull-6 {
    right: 50%;
  }

  .col-lg-pull-7 {
    right: 58.33333%;
  }

  .col-lg-pull-8 {
    right: 66.66667%;
  }

  .col-lg-pull-9 {
    right: 75%;
  }

  .col-lg-pull-10 {
    right: 83.33333%;
  }

  .col-lg-pull-11 {
    right: 91.66667%;
  }

  .col-lg-pull-12 {
    right: 100%;
  }

  .col-lg-push-0 {
    left: auto;
  }

  .col-lg-push-1 {
    left: 8.33333%;
  }

  .col-lg-push-2 {
    left: 16.66667%;
  }

  .col-lg-push-3 {
    left: 25%;
  }

  .col-lg-push-4 {
    left: 33.33333%;
  }

  .col-lg-push-5 {
    left: 41.66667%;
  }

  .col-lg-push-6 {
    left: 50%;
  }

  .col-lg-push-7 {
    left: 58.33333%;
  }

  .col-lg-push-8 {
    left: 66.66667%;
  }

  .col-lg-push-9 {
    left: 75%;
  }

  .col-lg-push-10 {
    left: 83.33333%;
  }

  .col-lg-push-11 {
    left: 91.66667%;
  }

  .col-lg-push-12 {
    left: 100%;
  }

  .col-lg-offset-0 {
    margin-left: 0%;
  }

  .col-lg-offset-1 {
    margin-left: 8.33333%;
  }

  .col-lg-offset-2 {
    margin-left: 16.66667%;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-offset-4 {
    margin-left: 33.33333%;
  }

  .col-lg-offset-5 {
    margin-left: 41.66667%;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-offset-7 {
    margin-left: 58.33333%;
  }

  .col-lg-offset-8 {
    margin-left: 66.66667%;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-offset-10 {
    margin-left: 83.33333%;
  }

  .col-lg-offset-11 {
    margin-left: 91.66667%;
  }

  .col-lg-offset-12 {
    margin-left: 100%;
  }
}

.slick-list:focus {
  outline: 0;
}

.slick-slider>.slick-next:focus,
.slick-slider>.slick-prev:focus {
  outline: 0;
}

.slick-loading .slick-slide,
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-slider>.slick-next {
  font-size: 0;
  border: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  background: #000;
}

.slick-slider>.slick-prev {
  font-size: 0;
  border: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  background: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto 0;
  z-index: 9;
}

.slick-slider>.slick-next {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto 0;
}

.slick-list,
.slick-track {
  position: relative;
  display: block;
}

.slick-list {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-list,
.slick-slider .slick-track {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  left: 0;
  top: 0;
}

.slick-track:after,
.slick-track:before {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
  width: 100%;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-list:focus {
  outline: 0;
}

.slick-slider>.slick-next:focus,
.slick-slider>.slick-prev:focus {
  outline: 0;
}

.slick-loading .slick-slide,
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-slider>.slick-next {
  font-size: 0;
  border: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  background: #000;
}

.slick-slider>.slick-prev {
  font-size: 0;
  border: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  background: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto 0;
  z-index: 9;
}

.slick-slider>.slick-next {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto 0;
}

.slick-list,
.slick-track {
  position: relative;
  display: block;
}

.slick-list {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-list,
.slick-slider .slick-track {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  left: 0;
  top: 0;
}

.slick-track:after,
.slick-track:before {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
  width: 100%;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.ui section:not(.modal) {
  padding: 15px 0;
  margin: 15px 0;
}

.ui section h2 {
  font-size: 20px;
  margin-top: 0;
  text-transform: uppercase;
}

.ui__accordionTab {
  padding-left: 0;
  border: 1px solid #212121;
}

.ui__accordionTabList:first-child>.ui__accordionTabLink {
  border-top: none;
}

.ui__accordionTabLink {
  text-transform: capitalize;
  text-align: left;
  padding: 18px 10px;
  color: #000;
  display: block;
  font-size: 16px;
  font-size: 1em;
  border: 1px solid #212121;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.ui__accordionTabLink--active,
.ui__accordionTabLink:hover {
  background: #F44336;
  color: #fff;
}

.ui__accordionTabLink--active {
  border-bottom: 1px solid #212121;
}

.ui__accordionTabLink:before {
  content: '+';
  float: right;
  margin-right: 10px;
}

.ui__accordionTabLink--active:before {
  content: '-';
}

.ui__accordionBox {
  width: 100%;
  display: none;
  padding: 15px;
}

.ui__HoriAccordion {
  width: 100%;
  display: table;
  border: 1px solid #212121;
}

.ui__HoriAccordionBox {
  float: left;
}

.ui__HoriAccordionBox:last-child .ui__HoriAccordionHead {
  border-right: 0;
}

.ui__HoriAccordionBox:last-child .ui__HoriAccordionHead--active {
  border-right: 1px solid #212121;
}

.ui__HoriAccordionBox:last-child .ui__HoriAccordionBody--active {
  border-right: none;
}

.ui__HoriAccordionHead {
  width: 80px;
  float: left;
  height: 300px;
  padding: 10px 15px;
  position: relative;
  cursor: pointer;
  text-align: center;
  border-right: 1px solid #212121;
  background: #F44336;
  color: #fff;
}

.ui__HoriAccordionHead:hover,
.ui__HoriAccordionHead--active {
  background: #fff;
  color: #000;
}

.ui__HoriAccordionText {
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  line-height: 35px;
  line-height: 2.1875em;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.ui__HoriAccordionBody {
  overflow: hidden;
  height: 300px;
  width: 0px;
  -webkit-transition: width 0.5s;
  -o-transition: width 0.5s;
  -moz-transition: width 0.5s;
  transition: width 0.5s;
  float: left;
}

.ui__HoriAccordionBody--active {
  border-right: 1px solid #212121;
}

.ui__HoriAccordionInner {
  padding: 20px 38px;
}

@media (max-width: 767px) {
  .ui__HoriAccordionBox {
    width: 100%;
  }

  .ui__HoriAccordionBox:last-child .ui__HoriAccordionHead {
    border-right: 0;
  }

  .ui__HoriAccordionBox:last-child .ui__HoriAccordionBody {
    border-bottom: 0;
  }

  .ui__HoriAccordionHead {
    width: 100%;
    height: auto;
    text-align: left;
    border-bottom: 1px solid #212121;
    border-right: none;
    background: #F44336;
    color: #fff;
  }

  .ui__HoriAccordionHead:before {
    content: '+';
    float: right;
    margin: 10px 10px 0 0;
  }

  .ui__HoriAccordionHead--active:before {
    content: '-';
  }

  .ui__HoriAccordionHead--active {
    border-right: 0;
  }

  .ui__HoriAccordionText {
    -webkit-writing-mode: initial;
    -ms-writing-mode: initial;
    writing-mode: initial;
    position: static;
    line-height: 15px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  .ui__HoriAccordionBody {
    overflow: visible;
    height: initial;
    width: 100%;
    clear: both;
    display: none;
  }

  .ui__HoriAccordionBody--active {
    border-right: none;
    border-bottom: 1px solid #212121;
  }
}

.ui__tabNav {
  width: 100%;
  display: table;
  margin: 0;
  padding-left: 0;
}

.ui__tabNavList {
  width: 25%;
  float: left;
}

.ui__tabNavList:last-child>.ui__tabNavLink {
  border-right: 1px solid #212121;
}

.ui__tabNavLink {
  text-transform: capitalize;
  text-align: center;
  padding: 18px 0;
  color: #000;
  display: block;
  font-size: 16px;
  font-size: 1em;
  border: 1px solid #212121;
  border-right: none;
}

.ui__tabNavLink--active,
.ui__tabNavLink:hover {
  background: #F44336;
  color: #fff;
}

.ui__tabBox {
  border: 1px solid #212121;
  border-top: none;
}

.ui__tabInner {
  min-height: 150px;
  display: none;
  padding: 20px;
}

.ui__tabInner--active {
  display: block;
}

@media (max-width: 767px) {
  .ui__tabNavList {
    width: 100%;
  }

  .ui__tabNavList:last-child>.ui__tabNavLink {
    border-bottom: 1px solid #212121;
  }

  .ui__tabNavList:last-child>.ui__tabInner {
    border-bottom: 1px solid #212121;
  }

  .ui__tabNavLink {
    text-align: left;
    padding: 13px 5px;
    font-size: 14px;
    border: 1px solid #212121;
    border-bottom: none;
  }

  .ui__tabNavLink:before {
    content: '+';
    float: right;
    margin-right: 10px;
  }

  .ui__tabNavLink--active:before {
    content: '-';
  }

  .ui__tabBox {
    border: none;
  }

  .ui__tabInner {
    min-height: auto;
    border: 1px solid #212121;
    border-top: none;
    border-bottom: none;
  }

  .ui__tabInner--active {
    display: none;
  }
}

.ui__selectTabNav {
  width: 100%;
  display: table;
  margin: 0;
  padding-left: 0;
}

.ui__selectTabNavList {
  width: 25%;
  float: left;
}

.ui__selectTabNavList:last-child>.ui__selectTabNavLink {
  border-right: 1px solid #212121;
}

.ui__selectTabNavLink {
  text-transform: capitalize;
  text-align: center;
  padding: 18px 0;
  color: #000;
  display: block;
  font-size: 16px;
  font-size: 1em;
  border: 1px solid #212121;
  border-right: none;
}

.ui__selectTabNavLink--active,
.ui__selectTabNavLink:hover {
  background: #F44336;
  color: #fff;
}

.ui__selectTabBox {
  border: 1px solid #212121;
  border-top: none;
}

.ui__selectTabInner {
  min-height: 150px;
  display: none;
  padding: 20px;
}

.ui__selectTabInner--active {
  display: block;
}

@media (max-width: 767px) {
  .ui__selectTabDrop {
    position: relative;
  }

  .ui__selectTabText {
    margin: 0;
    padding: 13px 5px;
    font-size: 14px;
    background: #F44336;
    color: #fff;
    text-transform: capitalize;
    border: 1px solid #212121;
    border-bottom: none;
    cursor: pointer;
  }

  .ui__selectTabText:before {
    content: '+';
    float: right;
    margin-right: 10px;
  }

  .ui__selectTabText--active:before {
    content: '-';
  }

  .ui__selectTabNav {
    position: absolute;
    top: 40px;
    background: #fff;
    display: none;
  }

  .ui__selectTabNavList {
    width: 100%;
  }

  .ui__selectTabNavList:last-child>.ui__selectTabNavLink {
    border-bottom: 1px solid #212121;
  }

  .ui__selectTabNavList:last-child>.ui__selectTabInner {
    border-bottom: 1px solid #212121;
  }

  .ui__selectTabNavLink {
    text-align: left;
    padding: 13px 5px;
    font-size: 14px;
    border: 1px solid #212121;
    border-bottom: none;
  }

  .ui__selectTabBox {
    border: none;
  }

  .ui__selectTabInner {
    min-height: auto;
    border: 1px solid #212121;
    border-top: none;
  }

  .ui__selectTabInner--active {
    display: block;
  }
}

.ui__verticalTab {
  width: 100%;
  display: table;
}

.ui__verticalTabNav {
  width: 25%;
  float: left;
  border: 1px solid #212121;
  margin: 0;
  padding-left: 0;
}

.ui__verticalTabNavList {
  width: 100%;
}

.ui__verticalTabNavList:last-child>.ui__verticalTabNavLink {
  border-bottom: none;
}

.ui__verticalTabNavLink {
  text-transform: capitalize;
  text-align: center;
  padding: 18px 0;
  color: #000;
  display: block;
  font-size: 16px;
  font-size: 1em;
  border-bottom: 1px solid #212121;
  border-right: none;
}

.ui__verticalTabNavLink--active,
.ui__verticalTabNavLink:hover {
  background: #F44336;
  color: #fff;
}

.ui__verticalTabBox {
  width: 75%;
  float: left;
}

.ui__verticalTabInner {
  min-height: 213px;
  display: none;
  padding: 20px;
  border: 1px solid #212121;
  border-left: none;
}

.ui__verticalTabInner--active {
  display: block;
}

@media (max-width: 767px) {
  .ui__verticalTabNav {
    width: 100%;
  }

  .ui__verticalTabNavList {
    width: 100%;
  }

  .ui__verticalTabNavList:last-child>.ui__verticalTabInner {
    border-bottom: none;
  }

  .ui__verticalTabNavLink {
    text-align: left;
    padding: 13px 5px;
    font-size: 14px;
  }

  .ui__verticalTabNavLink:before {
    content: '+';
    float: right;
    margin-right: 10px;
  }

  .ui__verticalTabNavLink--active:before {
    content: '-';
  }

  .ui__verticalTabNavLink--active {
    border-bottom: none;
  }

  .ui__verticalTabInner {
    min-height: auto;
    border-top: none;
    border: none;
    border-bottom: 1px solid #212121;
  }

  .ui__verticalTabInner--active {
    display: none;
  }
}

.ui__sliderBox {
  position: absolute;
  right: -235px;
  width: 235px;
  -webkit-transition: right 0.7s ease;
  -o-transition: right 0.7s ease;
  -moz-transition: right 0.7s ease;
  transition: right 0.7s ease;
}

.ui__sliderBox--active {
  right: 0px;
  -webkit-transition: right 0.7s ease;
  -o-transition: right 0.7s ease;
  -moz-transition: right 0.7s ease;
  transition: right 0.7s ease;
}

.ui__sliderButton {
  position: absolute;
  left: -55px;
  height: 26px;
  margin: 10px;
  cursor: pointer;
}

.ui__sliderButton--active>.ui__sliderButtonIcon>.ui__sliderButtonBar:nth-of-type(1) {
  opacity: 0;
}

.ui__sliderButton--active>.ui__sliderButtonIcon>.ui__sliderButtonBar:nth-of-type(2) {
  -webkit-transform: rotate(-137deg) translate(-10px, -5px);
  -moz-transform: rotate(-137deg) translate(-10px, -5px);
  -ms-transform: rotate(-137deg) translate(-10px, -5px);
  -o-transform: rotate(-137deg) translate(-10px, -5px);
  transform: rotate(-137deg) translate(-10px, -5px);
  margin: 0;
}

.ui__sliderButton--active>.ui__sliderButtonIcon>.ui__sliderButtonBar:nth-of-type(3) {
  -webkit-transform: rotate(-45deg) translate(-3px, 9px);
  -moz-transform: rotate(-45deg) translate(-3px, 9px);
  -ms-transform: rotate(-45deg) translate(-3px, 9px);
  -o-transform: rotate(-45deg) translate(-3px, 9px);
  transform: rotate(-45deg) translate(-3px, 9px);
  margin: 0;
}

.ui__sliderButtonIcon {
  height: 35px;
}

.ui__sliderButtonBar {
  display: block;
  width: 30px;
  height: 2px;
  border-right: 25px solid #F44336;
  border-left: 10px solid #000;
  -webkit-transition-property: margin, border-right-color, -webkit-transform, -webkit-box-shadow;
  transition-property: margin, border-right-color, -webkit-transform, -webkit-box-shadow;
  -o-transition-property: margin, border-right-color, box-shadow, -o-transform;
  -moz-transition-property: transform, margin, border-right-color, box-shadow, -moz-transform, -moz-box-shadow;
  transition-property: transform, margin, border-right-color, box-shadow;
  transition-property: transform, margin, border-right-color, box-shadow, -webkit-transform, -moz-transform, -o-transform, -webkit-box-shadow, -moz-box-shadow;
  -webkit-transition-duration: 600ms;
  -moz-transition-duration: 600ms;
  -o-transition-duration: 600ms;
  transition-duration: 600ms;
}

.ui__sliderButtonBar:nth-of-type(1) {
  -webkit-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  transition: opacity 300ms;
}

.ui__sliderButtonBar:nth-of-type(2) {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
  margin: 10px 0;
}

.ui__sliderTab {
  width: 100%;
  display: table;
  position: relative;
  border: 1px solid #212121;
  overflow: hidden;
}

.ui__sliderTabNav {
  border-left: 1px solid #212121;
  margin: 0;
  padding-left: 0;
  background: #fff;
}

.ui__sliderTabNavList {
  width: 100%;
}

.ui__sliderTabNavList:last-child>.ui__sliderTabNavLink {
  border-bottom: none;
}

.ui__sliderTabNavLink {
  text-transform: capitalize;
  text-align: center;
  padding: 18px 0;
  color: #000;
  display: block;
  font-size: 16px;
  font-size: 1em;
  border-bottom: 1px solid #212121;
  border-right: none;
}

.ui__sliderTabNavLink--active,
.ui__sliderTabNavLink:hover {
  background: #F44336;
  color: #fff;
}

.ui__sliderTabInner {
  min-height: 211px;
  display: none;
  padding: 20px;
}

.ui__sliderTabInner--active {
  display: block;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/helvetica.eot");
  src: url("../fonts/helvetica.woff2") format("woff2"),url("../fonts/helvetica.woff") format("woff"),url("../fonts/helvetica.ttf") format("truetype"),url("../fonts/helvetica.svg#gillsans") format("svg"),url("../fonts/helvetica.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  font: 16px/1 "Helvetica";
  color: #000;
  background: #fff;
}